body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: black;
}

#main {
    margin: 5% 5%;
    padding: 2.5%;
    border-radius: 1em;
    background: rgb(223, 223, 223);
}

#title {
    font-size: 3em;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#subtitle {
    font-size: 1.5em;
    margin-top: 0%;
    padding-bottom: 0%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}


